*{
    padding: 0;
    margin: 0;
}
h1,h2,h3,p{
    padding: 0;
    margin: 0;
}
ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border: 0;
    cursor: pointer;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
}
.header-top{
    padding-top: 26px;
    padding-bottom: 26px;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
}
.menu>li{
    margin-right: 46px;
}
.menu>li:last-child{
    margin-right: 0;
}
.menu>li>a{
    color: #443737;
font-family: "Open Sans";
font-size: 20px;
font-weight: 600;
line-height: 120%;
}
.menu>li>a:hover{
    border-bottom: 3px solid #FFC725;
    border-radius: 1.5px;
}
.basket{
    display: flex;
    align-items: center;
}
.basket>span{
    margin-left: 5px;
    color: #443737;
font-family: "Open Sans";
font-size: 15px;
font-weight: 700;
}
.header-bottom{
    background: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 142px 0;
    background-position: center;
}
.header-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.crumbs{
    color: #DEDEDE;
    text-align: center;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 8px;
}
.header-title{
    color: #FFF;
    font-family: "Nunito Sans";
    font-size: 79px;
    font-weight: 700;
    padding-bottom: 11px;
}
.header-text{
    color: #FAF9F9;
    text-align: center;
    font-family: "Open Sans";
    font-size: 15px; 
    font-weight: 400;
    line-height: 160%;
    max-width: 320px;
}
.banner{
    background: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 140px;
    margin-bottom: 100px;
    padding: 100px;
}
.banner-marker{
    background: #F37335;
    padding: 5px 18.5px;
    border-radius: 14px;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 128.571%;
    text-transform: uppercase;
}
.banner-sale{
    color: #FFF;
    font-family: "Nunito Sans";
    font-size: 60px;
    font-weight: 900;
    line-height: 126.667%;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.banner-text{
    color: #FAF9F9;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 160%; 
    max-width: 308px;
    padding-bottom: 15px;
}
.banner-btn{
    border-radius: 5px;
    background: #FBB731;
    padding: 20px 26px;
    color: #1E2F40;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 128.571%;
    text-transform: uppercase;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    color: #1B2A49;
    font-family: "Nunito Sans";
    font-size: 44px;
    font-weight: 700;
    line-height: 127.273%;
    text-transform: uppercase;
}
.burgers{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.item-img{
    width: 380px;
    height: 430px;
    object-fit: cover;
}
.item-tatle{
    color: #1B2A49;
    font-family: "Nunito Sans";
    font-size: 30px;
    font-weight: 600;
    line-height: 126%; 
    margin-top: 20px;
    margin-bottom: 5px;
}
.item-price{
    color: #979797;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 140%; 
    margin-bottom: 20px;
}
.item-btn{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #FBB731;
    padding: 10px 30px;
    color: #1E2F40;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 128.571%;
    text-transform: uppercase;
}
.item-btn>img{
    margin-right: 12px;
}
.add{
    margin-top: 50px;
    margin-bottom: 90px;
}
footer{
    background: #1E2F40;
    padding-top: 117px;
    padding-bottom: 106px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer-title{
    color: #FFF;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 800;
    line-height: 190%;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.nav>li{
    margin-bottom: 12px;
}
.nav>li>a{
    color: #DEDEDE;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 160%; 
}
.info-text{
    color: #DEDEDE;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 160%; 
}
.info-a{
    color: #FAF9F9;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 160%; 
}
.phone{
    display: flex;
    flex-direction: column;
}
.phone>a{
    color: #FBB731;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 800;
    line-height: 190%; 
    text-transform: uppercase;
}
.nav>.phone{
    display: none;
}
.burger-menu{
    display: none;
}

@media (max-width:768px){
    .container{
        padding: 0 15px;
    }
    .menu>li{
        margin-right: 22px;
    }
    .header-bottom{
        background-position: center; 
    }
    .banner{
        margin-top: 72px;
        margin-bottom: 80px;
        padding-left: 40px;
        background-position-x: -70px;
    }
    .item-img{
        width: 360px;
    }
    .add>.container>.burgers{
        flex-wrap: nowrap;
    }
    .w768>.item{
        margin-right: 12px;
    }
    .w768>.item:last-child{
        margin-right: 0;
    }
    .w768>.item>.item-img{
        width: 274px;
        height: 320px;
    }
    footer{
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .footer>.phone{
        display: none;
    }
    .nav>.phone{
        display: flex;
}
@media (max-width:320px){
    .burger-menu{
        display: block;
    }
    .menu{
        display: none;
    }
    .header-menu>a>img{
        width: 116px;
        height: 37px;
    }
    .header-menu>.burger-menu>img{
        width: 34px;
        height: 22px;
    }
    .header-top{
        padding: 20px 0;
    }
    .header-bottom{
        padding: 55px 0;
        background:url('../img/h320.png');
    }
    .crumbs{
        font-size: 14px;
    }
    .header-title{
        font-size: 38px;
    }
    .header-text[
        font-size: 12px;
    ]
}